@font-face {
    font-family: FontAwesome; /* Имя шрифта */
    src: url(../fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
}

body {
    background-color: #f4f4f4;
    height: auto;
    min-height: 100%;
}

.wrap-nav-section .links a.active {
    color: black;
    font-weight: 600;
}
.wrap-nav-section .links a:hover {
    color: black;
    font-weight: 600;
}
.wrap-nav-section .wrap-nav-links {
    margin-bottom: 40px;
}
.wrap-nav-section .links a {
    color: #01aad4;
}
.left-bar {
    background-color: #012d40;
    padding-top: 100px;
}
.left-bar p {
    font-size: 16px;
}
.wrap-avatar {
    text-align: center;
}
.wrap-avatar p {
    margin-top: 10px;
}
.left-bar .sidebar-menu a {
    color: #fff;
    text-decoration: none;
}
.left-bar .sidebar-menu a.buy {
    font-weight: 600;
}
.left-bar .treeview-menu a.active {
    color: #ffae00;
}
.left-bar .treeview-menu {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}
.content-wrapper .wrap-content {
    background-color: #fff;
    color: #001620;
}
.content-wrapper .news-title {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.content-wrapper .news-wrapper {
    border: 1px solid #eaeaea;
    background-color: #fff;
    color: #001620;
    padding: 30px;
    margin-bottom: 20px;
}
.news-wrapper .wrap-news-item {
    padding-top: 15px;
    border-top: 1px solid #eaeaea;
    font-size: 16px;
    padding-bottom: 45px;
}
.news-wrapper .wrap-news-item p {
    margin: 0;
}
.news-wrapper .wrap-news-item .news-item-date {
    color: #afafaf;
    font-size: 14px;
}
.news-wrapper .wrap-news-item .news-item-title {
    color: #001620;
    font-size: 18px;
    font-weight: 600;
}
.news-wrapper .wrap-news-item .news-item-body {
    margin-top: 10px;
    color: #5c5c5c;
}
.news-wrapper .wrap-news-item .read-more {
    display: inline-block;
    float: right;
    color: #1d72ff;
    text-decoration: underline;
    cursor: pointer;
}
.wrap-content {
    background-color: #fff;
    padding: 30px 20px;
}
.wrap-content .wrap-toggle-panel {
    border: 1px solid #eaeaea;
    padding: 10px;
}
.wrap-content .first-title {
    color: #014d6f;
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
}
.wrap-content .second-title {
    color: #001620;
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
}
.wrap-content .third-title {
    color: #014d6f;
    font-size: 14px;
}
.wrap-content .more-info {
    float: right;
    font-size: 12px;
    color: #848484;
    margin-top: 3px;
    text-decoration: none;
    display: block;
}
.wrap-content .wrap-toggle-body {
    padding: 10px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.wrap-another-content {
    margin-top: 20px;
    background-color: #fff;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.wrap-another-content:last-child {
    margin-bottom: 20px;
}
.wrap-toggle-body .property .top-phrase {
    font-size: 14px;
}
.wrap-toggle-body .property .bottom-phrase {
    font-size: 18px;
}
.wrap-another-news-title {
    padding: 20px;
    background-color: #012d40;
    font-size: 36px;
    font-family: LatoBold;
}
.wrap-toggle-body .desc-title {
    color: #032536;
    font-size: 18px;
    font-family: LatoBold;
}
.wrap-toggle-body .desc-title:first-child {
    margin-top: 20px;
}
.wrap-toggle-body .desc-body {
    color: #032536;
    font-size: 16px;
}
.wrap-toggle-body .some-desc {
    font-size: 14px;
    color: #031923;
    margin-top: 20px;
}
.wrap-content .wrap-toggle-body .wrap-buy-property.first{
    color: #001620;
    font-family: LatoBold;
}
.wrap-toggle-body .wrap-buy-property {
    color: #014d6f;
    font-size: 16px;
    margin-top: 5px;
    display: flex;
}
.wrap-toggle-body .wrap-buy-property span:first-child {
    flex: 2;
}
.wrap-toggle-body .wrap-buy-property span:last-child {
    color: #001620;
    font-family: LatoBold;
    flex: 1;
    text-align: right;
}
.wrap-toggle-body .wrap-buy-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.wrap-toggle-body .wrap-buy-links .btn-buy {
    font-family: LatoBlack;
    font-size: 12px;
    flex: 1;
}
.wrap-toggle-body .wrap-buy-links a:last-child {
    text-decoration: none;
    cursor: pointer;
    flex: 2.5;
    text-align: right;
    padding-left: 10px;
    min-width: 110px;
}
.wrap-toggle-body .wrap-buy-links a:last-child span {
    color: #0eb09b;
    padding-bottom: 2px;
    border-bottom: 1px solid #0eb09b;
}
.wrap-another-content .content {
    padding: 20px;
}
.wrap-another-content .content .content-title {
    color: #001620;
    font-size: 18px;
    font-family: LatoBold;
}
.wrap-another-content .content .wrap-filter {
    color: #012d40;
    font-size: 14px;
    font-family: LatoBold;
    margin-bottom: 30px;
}
.wrap-another-content .content .wrap-filter a {
    color: #012d40;
    text-decoration: underline;
    margin-right: 5px;
    font-family: Lato;
}
.wrap-table {
    overflow-x: scroll;
}
.wrap-another-content .content .premium-table-item {
    color: black;
    display: flex;
    flex-direction: row;
    font-family: LatoBold;
    font-size: 16px;
    color: #001620;
}

.wrap-another-content .content .premium-table-item .table-item {
    padding: 10px;
    border-right: none;
    min-width: 115px;
    flex: 1;
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-right: none;
}
.wrap-another-content .content .premium-table-item .table-item:first-child {
    border-left: 1px solid #cdcdcd;
}
.wrap-another-content .content .premium-table-item .table-item:nth-child(8) {
    font-size: 12px;
    font-family: Lato;
    padding-top: 5px;
    padding-bottom: 5px;
}
.wrap-another-content .content .premium-table-item .table-item:first-child a {
    float: right;
    text-decoration: underline;
    color: #3366ff;
}
.wrap-another-content .content .premium-table-item .table-item:last-child {
    position: relative;
    background-color: #fff;
    border-left: 1px solid #cdcdcd;
}
.wrap-another-content .content .premium-table-item .table-item:last-child a {
    border: 2px solid #001620;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    color: #012d40;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
}

.wrap-another-content .wrap-input {
    color: #cdcdcd;
    font-family: LatoBold;
    position: relative;
    display: inline-block;
}
.wrap-another-content .wrap-input input {
    padding: 7px;
    font-size: 16px;
    border: 1px solid #cdcdcd;
}
.wrap-another-content .wrap-search {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrap-another-content .content .statistic-content {
    padding: 20px 0 30px;
}
.wrap-another-content .wrap-search .wrap-paginate {
    align-self: center;
}
.wrap-another-content .wrap-search .wrap-paginate a {
    color: #001620;
    font-size: 12px;
    font-family: LatoBold;
    text-decoration: none;
    cursor: pointer;
    padding: 7px;
    border: 1px solid #cdcdcd;
    margin: 0;
}
.wrap-another-content .wrap-search .wrap-paginate a:first-child {
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.wrap-another-content .wrap-search .wrap-paginate a:last-child {
     border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.wrap-another-content .wrap-input i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
}
.wrap-another-content .content .premium-table {
    display: flex;
    flex-direction: row;
    font-family: LatoBold;
    font-size: 16px;
    color: #999999;
}
.wrap-another-content .content .premium-table .table-item {
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-right: none;
    min-width: 115px;
    flex: 1;
    position: relative;
}

.wrap-another-content .content .premium-table .table-item:last-child {
    border-right: 1px solid #cdcdcd;
}
.wrap-another-content .content .premium-table .table-item .wrap-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5px;
}
.wrap-another-content .content .premium-table .table-item .wrap-controls a {
    height: 8px;
    color: #11262f;
}
.wrap-another-content .content .premium-table .table-item .wrap-controls a:first-child {
    margin-top: 3px;
}
.wrap-another-content .content .premium-table .table-item .wrap-controls a:last-child {
    margin-top: 5px;
}
.wrap-another-content .wrap-divedents {
    height: 10px;
    border-radius: 10px;
    background-color: #58bddd;
    margin: 100px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.wrap-another-content .statistic-content {
    border-top: 1px solid #eaeaea;
    padding: 20px 20px 30px;
}
.statistic-content .time-range {
    color: #014d6f;
    font-size: 16px;
}
.statistic-content .time-range-description {
    color: #8a8a8a;
    font-size: 16px;
    margin-top: 20px;
    text-align: right;
}
.statistic-content .wrap-withdraw {
    color: black;
    text-align: right;
}
.statistic-content .wrap-withdraw select,.statistic-content .wrap-withdraw input  {
    border: 1px solid #012d40;
    padding: 5px;
    margin-right: 5px;
}
.statistic-content .wrap-withdraw .get-money {
    padding: 5.5px 30px;
    background-color: #012d40;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
.wrap-cash {
    font-size: 20px;
    font-family: LatoBlack;
    margin-top: 20px;
}
.wrap-cash span:first-child {
    color: #014d6f;
}
.wrap-cash span:last-child {
    color: #012d40;
}
.wrap-divedents .pointer {
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #012d40;
    top: -8px;
    left: 5%;
}
.wrap-divedents .pointer .picker-element {
    width: 1px;
    height: 15px;
    background-color: #fff;
    margin-left: 12px;
    margin-top: 15px;
}
.pointer .wrap-pointer-text {
    width: 100px;
    color: #012d40;
    font-size: 14px;
    font-family: LatoBold;
    margin-top: -55px;
    text-align: center;
    margin-left: -35px;
}
.pointer .wrap-pointer-text p {
    margin-bottom: 5px;
}

.divident-item span {
    color: #012d40;
    font-size: 14px;
    font-family: LatoBold;
}
.divident-item .delimiters {
    background-color: #012d40;
    width: 2px;
    height: 10px;
    margin: 20px auto 10px;
}

.footer-section, .after-footer {
    z-index: 999;
}
/* drop down menu */
/* Fixed layout */
.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed;
}
.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}
.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px;
}
@media (max-width: 767px) {
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 100px;
    }
}
.fixed.layout-boxed .wrapper {
    max-width: 100%;
}
.fixed .wrapper {
    overflow: hidden;
}
.content-wrapper {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}
.layout-top-nav .content-wrapper {
    margin-left: 0;
}
@media (max-width: 767px) {
    .content-wrapper {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .sidebar-open .content-wrapper {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0);
    }
}
.content-wrapper {
    min-height: 100%;
    z-index: 800;
}
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #012d40;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.nav-header .wrap-link a:first-child {
    color: #ff3d3d;
    font-size: 14px;
    font-family: LatoBlack;
    text-transform: uppercase;
    margin-right: 50px;
}
.nav-header .wrap-link a:last-child {
    cursor: pointer;
}
.nav-header .wrap-link a:nth-child(2) {
    margin-right: 50px;
    position: relative;
    cursor: pointer;
}
.nav-header .wrap-link a:nth-child(2) i {
    font-size: 18px;
}
.nav-header .wrap-link a:nth-child(2) span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    font-size: 9px;
    top: -5px;
    left: 7px;
    background-color: #ff3d3d;
    text-align: center;
    position: absolute;
}
.nav-header .wrap-link i {
    color: #fff;
    margin-right: 0;
    font-size: 14px;
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-right: 5px;
}
.sidebar-menu > li .badge {
    margin-top: 3px;
}
.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.sidebar-menu li > a > .fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
}
.sidebar-menu .menu-open > a > .fa-angle-left,
.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-menu .active > .treeview-menu {
    display: block;
}
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px !important;
        z-index: 840;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
        margin-right: 0;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-top-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
    .sidebar-mini.sidebar-collapse .sidebar-form,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
        display: none;
    }
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px;
    }
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 180px !important;
    top: -22px !important;
    z-index: 900;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
}
.sidebar-expanded-on-hover .main-footer,
.sidebar-expanded-on-hover .content-wrapper {
    margin-left: 50px;
}
.sidebar-expanded-on-hover .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu:hover {
    overflow: visible;
}
.sidebar-form,
.sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
}
.sidebar-menu li > a {
    position: relative;
}
.sidebar-menu li > a > .pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}

.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.treeview-menu .treeview-menu {
    padding-left: 20px;
}
.treeview-menu > li {
    margin: 0;
}
.treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
}
.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
    width: 20px;
}
.treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.treeview-menu > li > a > .pull-right-container > .fa-angle-down,
.treeview-menu > li > a > .fa-angle-left,
.treeview-menu > li > a > .fa-angle-down {
    width: auto;
}
/* end sidebar */
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px !important;
        z-index: 840;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
        margin-right: 0;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-top-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
    .sidebar-mini.sidebar-collapse .sidebar-form,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
    .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px;
    }
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
        display: none;
    }
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px;
    }
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 180px !important;
    top: -22px !important;
    z-index: 900;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
}
.sidebar-expanded-on-hover .main-footer,
.sidebar-expanded-on-hover .content-wrapper {
    margin-left: 50px;
}
.sidebar-expanded-on-hover .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu:hover {
    overflow: visible;
}
.sidebar-form,
.sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
}
.sidebar-menu li > a {
    position: relative;
}
.sidebar-menu li > a > .pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
}

.hidden-menu-item {
    display: none;
}

.nav-header-bell i {
    font-size: 18px;
    color: #fff;
    margin-right: 0;
}
.nav-header-bell span {
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    font-size: 9px;
    top: -5px;
    left: 7px;
    background-color: #ff3d3d;
    text-align: center;
    position: absolute;
}

.nav-header-bell {
    display: none;
    float: right;
    margin-right: 50px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 1680px) {
    .wrap-content .more-info {
        float: none;
    }
}

@media (max-width: 1200px) {
    .wrap-content .wrap-toggle-panel {
        margin-top: 20px;
    }
}

@media (max-width: 1440px) {
        .nav-header-bell {
            display: inline-block;
        }
        .wrap-logo {
            text-align: center;
        }
        .links.hidden {
            display: none !important;
        }
        .links {
            position: fixed;
            z-index: 969;
            top: -50px;
            left: 0;
            display: block;
            width: 110%;
            background-color: #001C26;
            padding: 50px;
            margin-top: 50px;
            overflow-y: scroll;
            max-height: 450px;
            height: 100%;
            margin-right: -15px;
            opacity: 1;
        }
        .toggle_mnu {
            display: inline-block;
            float: right;
            margin-right: 50px;
            margin-top: 32px;
        }
        .nav-header .wrap-link {
            display: none;
        }
        .links a {
            text-align: left;
            display: block;
            padding: 15px;
        }
        .links a.hidden-menu-item {
            display: block;
        }
}
@media (max-width: 992px) {
    .main-sidebar {
        position: relative;
        width: 100%;
    }
    .content-wrapper {
        margin-left: 0;
    }
    .left-bar {
        padding-top: 65px;
    }
    .wrap-nav-links {
        margin-top: 60px;
    }
    .left-bar {
        display: flex;
    }
    .left-bar .wrap-avatar {
        flex: 1;
        margin-top: 30px;
    }
    .left-bar .menu {
        flex: 2;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .wrap-another-content .statistic-content, .statistic-content .time-range-description, .statistic-content .wrap-withdraw {
        text-align: center;
    }
}

@media (max-width: 430px) {
    .statistic-content .wrap-withdraw .get-money {
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .wrap-another-content .wrap-input input {
        width: 100%;
        margin-top: 20px;
    }
    .wrap-another-content .wrap-input i {
        margin-top: 20px;
    }
    .wrap-another-content .wrap-search {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}


