@font-face {
    font-family: Lato; /* Имя шрифта */
    src: url(../fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: LatoBlack; /* Имя шрифта */
    src: url(../fonts/Lato-Black.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: LatoBold; /* Имя шрифта */
    src: url(../fonts/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
}

/*Иконка меню---------------*/

.toggle_mnu {
    display: none;
    background: none;
    position: relative;
    border: 0;
    }
.toggle_mnu span {
    display: block;
}

.sandwich {
    width: 36px;
    height: 36px;
    position: absolute;
    top: -18px;
    left: 12px;
    right: 0;
    margin: auto;
    z-index: 200;
}

.sw-topper {
    position: relative;
    top: 0px;
    width: 36px;
    height: 4px;
    background: #017b9b;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    display: block; }

svg path {
    fill: #e0e0e0; }

.sw-bottom {
    position: relative;
    width: 36px;
    height: 4px;
    top: 6px;
    background: #017b9b;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s; }

.sw-footer {
    position: relative;
    width: 36px;
    height: 4px;
    top: 12px;
    background: #017b9b;
    border: none;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }

.sandwich.active .sw-topper {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
.sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }


body {
    font-family: Lato;
    color: white;
}
.nav-header {
 background-color: #002737;
    height: 50px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 999;
}
.nav-header .wrap-input {
    display: inline-block;
    position: relative;
}
.nav-header .wrap-input i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #017b9b;
    cursor: pointer;
}
.nav-header input {
    border-radius: 25px;
    background-color: #001C26;
    border: none;
    margin-top: 12px;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    padding-right:10px;
    font-size: 14px;
    color: #017b9b;
}
.nav-header .wrap-link {
    display: inline-block;
    float: right;
}

.nav-header .wrap-link a {
    display: inline-block;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.nav-header .wrap-link a:first-child {
    margin-right: 80px;
}
.nav-header .wrap-link i {
    color: #03ffde;
    margin-right: 10px;
    font-size: 18px;
}
.wrap-sections {
    width: 100%;
    }

.main-section {
    height: 100vh;
    min-height: 560px;
    background: url("../img/bg-1.png") center bottom no-repeat;
    background-size: cover;
}
.main-section .wrap-text-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 3s;
}
.wrap-nav-links {
    margin-top: 90px;
    animation-duration: 3s;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;

    z-index: 999999;
}
.links.hidden {
    display: flex !important;
}
.links a {
    color: #017b9b;
    text-decoration: none;
    transition: color 0.2s linear;
}
.links a:hover {
    color: white;
    font-weight: 600;
    transition: color 0.2s linear;
}

.main-section .links a {
    text-decoration: none;
}

.main-section .wrap-text {
    text-align: center;
    color: white;

}

.wrap-text {
    margin-top: -200px;
}
.wrap-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.wrap-text p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.wrap-text span {
    color: #03ffde;
    font-size: 16px;
}
.button {
    font-family: LatoBold;
    color: black;
    background-color: #03ffde;
    padding: 12px 60px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 7px 20px rgba(0,0,0,0.5);
    text-align: center;
    letter-spacing: 1px;
}
.button:hover {
    text-decoration: none;
    cursor: pointer;
}
.btn-signup {
    margin-top: 50px;
}
.wrap-h {
    text-align: center;
}
.wrap-h h2 {
    position: relative;
    color: #03ffde;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
}
.wrap-h img {
    position: absolute;
    right: -15px;
}

.about-section {
    padding-top: 100px;
    background: url("../img/bg-2-1.png") center center no-repeat;
    background-size: cover;
}
.about-section p {
    margin-top: 50px;
    font-size: 16px;
    line-height: 2.8em;
}

.package-section {
    padding-top: 130px;
    text-align: center;
    background: url("../img/bg-3-1.png") center bottom no-repeat;
    background-size: cover;
}

.package-section .wrap-item {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 7px 20px rgba(0,0,0,0.5);
    padding: 25px;
    margin-bottom: 50px;
}
.package-section .price {
    background-color: #03ffde;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 30px auto;
    box-shadow: 0 7px 20px rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 30px;
}
.package-section .price p {
    font-family: LatoBlack;
    font-size: 23px;
    margin-bottom: 5px;
}

.package-section .price span {
    font-size: 16px;
}

.package-section .name {
    font-family: LatoBlack;
    font-size: 18px;
    line-height: 1.3em;
}

.package-section .wrap-property {
    margin-top: 30px;
    margin-bottom: 30px;
}

.property .top-phrase {
    font-size: 12px;
    color: #014d6f;
    margin-bottom: 0;
    margin-top: 20px;
}
.property .bottom-phrase {
    font-size: 16px;
    font-weight: 600;
}
.more {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: underline;
    color: #0eb09b;
    cursor: pointer;
}
.btn-buy {
    display: block;
    margin-bottom: 30px;
}
.package-section .wrap-h {
    margin-bottom: 50px;
}
.news-section .wrap-h h2, .question-section .wrap-h h2 {
    color: black;
    margin-top: 0;
}
.news-section {
    padding-top: 70px;
    color: black;
    /*background: url("../img/Main-1170-Recovered_06.png") center center no-repeat;
    background-size: cover;*/
    background-color: #f8f8f8;
    position: relative;
    padding-bottom: 120px;
}
.news-section .polygon-4 {
    position: absolute;
    right: 5%;
    top: 0;
}
.news-section .polygon-41 {
    position: absolute;
    left: 4%;
    top: 15%;
}
.news-section .polygon-8 {
     position: absolute;
     left: 18%;
     top: 60%;
 }
.news-section .polygon-42 {
    position: absolute;
    right: 18%;
    bottom: 5%;
}
.news-section .name {
    border-bottom: 1px dashed black;
    margin-top: 50px;
}
.news-section .name p {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    color: #012433;
}
.news-section .wrap-slider-links {
    display: inline-block;
    float: right;
}
.news-section .wrap-slider-links a:first-child {
    margin-right: 40px;
}
.news-section .wrap-slider-links a {
    color: #012433;
}
.news-section .wrap-slider-links a:hover {
    color: #012433;
    text-decoration: none;
    cursor: pointer;
}

.news-section .wrap-title p {
    display: inline-block;
}
.news-section .wrap-title .title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.news-section .wrap-title .date {
    float: right;
    font-size: 16px;
    margin-top: 10px;
    color: #949494;
}
.news-section .wrap-body-text {
    text-align: justify;
    line-height: 2em;
}
.news-section .btn-more-news {
    display: block;
    max-width: 240px;
    margin-top: 20px;
}
.question-section .panel-default {
    border-color: #eceef0;
    border-radius: 0;
    margin-top: 50px;
}
.question-section .panel-default > .panel-heading {
    background-color: #fff;
    transition: background-color 0.5s linear;
}
.question-section .panel-default > .panel-heading.active {
    background-color: #012433;
    color: white;
    transition: background-color 0.5s linear;
}
.question-section .panel-title > a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
}
.question-section {
    color: black;
    background-color: #f8f8f8;
    position: relative;
}
.question-section .polygon-7 {
    position: absolute;
    left: 16%;
    top: 20%;
}
.question-section .polygon-5 {
    position: absolute;
    right: 5%;
    top: 30%;
}
.question-section .polygon-51 {
    position: absolute;
    left: 1%;
    top: 50%;
}
.question-section .polygon-52 {
    position: absolute;
    right: 17%;
    top: 60%;
}
.question-section .polygon-4 {
    position: absolute;
    left: 17%;
    top: 70%;
}
.question-section .polygon-6 {
    position: absolute;
    left: 10%;
    bottom: 0;
}
.question-section .panel-heading {
    padding: 0;
}
.question-section .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #eceef0;
}
.wrap-arrow {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #eceef0;

    padding: 10px 8px 10px 0;
}
.wrap-arrow i {
    margin-right: 8px;
    color: #eceef0;
    font-size: 5px;
}

.question-section [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 12px;
    margin-top: 2px;
}

.wrap-accordion-text h4 {
    font-family: LatoBold;
    font-size: 30px;
    color: #001620;
}
.wrap-accordion-text .description {
    font-size: 18px;
    color: #001620;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrap-accordion-text .text {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2em;
}

.footer-section {
    background-color: #012433;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-section a {
    display: block;
    font-size: 14px;
    transition: color 0.2s linear;
}
.footer-section a:hover {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.2s linear;
}
.footer-section img {
    margin-bottom: 10px;
}
.footer-section i {
    color: #03ffde;
    font-size: 18px;
}
.footer-section p {
    font-size: 16px;
}
.footer-section .wrap-social {
    display: inline-block;
}
.footer-section .item-1 {
    position: relative;
}
.wrap-social-media {
    margin-top: -25px;
}
.wrap-social-media i {
    font-size: 20px;
    margin-left: 5px;
}
.footer-section .item-3 {
    margin-left: 4px;
}
.footer-section .wrap-social i {
    color: #fff;
}
.footer-section [class^="flaticon-"]::before {
    margin-left: 0;
}
.after-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #001620;
}
.after-footer p {
    color: #074e6d;
    font-size: 14px;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .toggle_mnu {
        display: inline-block;
        float: right;
        margin-right: 50px;
        margin-top: 32px;
    }
    .nav-header .wrap-link {
        display: none;
    }
    .links.hidden {
        display: none !important;
    }
    .wrap-logo {
        text-align: center;
    }
    .links {
        position: fixed;
        z-index: 969;
        top: -50px;
        left: 0;
        display: block;
        width: 110%;
        background-color: #001C26;
        padding: 50px;
        margin-top: 50px;
        overflow-y: scroll;
        max-height: 450px;
        height: 100%;
        margin-right: -15px;
        opacity: 1;

    }
    .links a {
        display: block;
        padding: 15px;
        text-align: center;
    }
    .hidden-btw {
        display: none;
    }
    .main-footer {
        width: 100%;
        text-align: center;
    }
    .wrap-social-media {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 0;
    }
    .links a {
        text-align: left;
    }
}
@media (max-width: 992px) {
    .package-section .wrap-item {
        margin-bottom: 20px;
        padding: 10px;
    }
    .package-section .wrap-property {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .property .top-phrase {
        margin-top: 5px;
    }
    .news-section .wrap-h h2 {
        margin-top: 70px;
    }
}
@media (max-width: 768px) {
    .footer-section {
        text-align: center;
    }
    .button {
        padding-left: 30px;
        padding-right: 30px;
    }
    .wrap-arrow {
        display: none;
    }
    .wrap-text h1 {
        font-size: 50px;
    }
    .login.item .top-phrase, .login.item .bottom-phrase {
        text-align: center;
    }
    .login.item .wrap-item-text {
        padding-left: 0;
        border: none;
    }
    .wrap-h img {
        display: none;
    }
    .about-section {
        padding-top: 40px;
    }
    .after-footer p {
        font-size: 12px;
    }
    .links a {
        text-align: left;
    }
    .wrap-repost {
        text-align: center;
    }
    .wrap-another-news .wrap-repost .align-right {
        text-align: center;
    }
    .wrap-another-news {
        text-align: center;
    }
}

.login {
    color: black;
    text-align: center;
}
.login h4 {
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 15px;
}
.login p {
    margin-bottom: 30px;
}
.login .wrap-input {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.login input {
    padding: 7px;
    border-radius: 3px;
    display: block;
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    width: 100%;
}
.login .btn-login {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
.login .wrap-input a.left {
    float: left;
}
.login .wrap-input a:last-child {
    float: right;
}
.login .wrap-input a {
    text-decoration: underline;
    color: black;
}
.login .btn-login {
    margin-top: 40px;
    margin-bottom: 30px;
}
@media (max-width: 360px) {
    .login .wrap-input a.left {
        display: block;
        float: none;
        text-align: center;
    }
    .login .wrap-input a:last-child {
        display: block;
        float: none;
        text-align: center;
    }
}
.login.item p {
    text-align: justify;
    color: #032536;
    margin-bottom:0;
    font-size: 15px;
    line-height: 1.5em;
}
.login.item .prop {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}
.login.item .text-center {
    text-align: center;
    margin-bottom: 30px;
}
.wrap-item-text {
    padding-left: 15px;
    border-left: 1px solid #032536;
}
.login.item .wrap-property {
    margin-top: 0;
    margin-bottom: 0;
}
.login.item .property .top-phrase {
    margin-top: 10px;
    color: #014d6f;
    font-size: 12px;
}
.login.item .modal-body {
    padding-left: 50px;
    padding-right: 50px;
}

.totop {
    position: fixed;
    right: 25px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    background-color: #017b9b;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .6);
    border-radius: 50%;
    -webkit-transition: -webkit-all 0.5s, linear 0.2s;
    transition: all 0.5s, linear 0.2s;
    z-index: 2;
}
.totop img {
    width: 34px;
    margin-top: 12px;
    margin-left: 12.5px;
    transform: rotate(180deg);
}
.news-section .button {
    letter-spacing: 0;
}

@media (max-width: 460px) {
    .news-section .wrap-title .date {
        float: none;
        display: block;
    }
}

