.nav-header {
 background-color: #002737;
    height: 50px;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.nav-header .wrap-input {
    display: inline-block;
}
.nav-header input {
    border-radius: 25px;
    background-color: #001C26;
    border: none;
    margin-top: 12px;
    height: 30px;
    width: 200px;
    color: white;
    padding-left: 10px;
    padding-right:10px;
}
.nav-header .wrap-link {
    display: inline-block;
    float: right;
}

.nav-header .wrap-link a {
    display: inline-block;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    width: 150px;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
}

.wrap-sections {
    background: url("../img/Group-31.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 3000px;
}

.main-section {
    margin-top: 50px;
}
.main-section .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-section .links a {
    text-decoration: none;
    padding: 25px;
}

.main-section .wrap-text {
    text-align: center;
    color: white;

}